
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
    --ff-body: 'Open Sans', sans-serif;
    --ff-headings: 'Poppins', sans-serif;

    --clr-primary: hsl(192, 100%, 9%);
    --clr-secondary: hsl(207, 100%, 98%);

    --clr-accent: hsl(322, 100%, 66%);
    --clr-l-pink: hsl(321, 100%, 78%);
    --clr-red: hsl(0, 100%, 63%);
  
    --fs-h1: 5rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2rem;
    --fs-lg: 1.3rem;
    --fs-m: 1rem;
    --fs-s: .9rem;

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
   
    --gap-s: 1rem;
    --gap-m: calc(var(--gap-s) * 2);
    --gap-l: calc(var(--gap-s) * 3);

    --w: 90%;
    --mw-s: 400px;
    --mw-m: 800px;
    --mw-l: 1180px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body,
  h1, h2, h3, h4, p {
    margin: 0;
}

    ul { list-style: none;}
    
    a { text-decoration: none;  }
    
    img {
        max-width: 100%;
        display: block;
    }
    
    body {
        font-family: var(--ff-body);
        font-size: var(--fs-m);
        line-height: 1.5;
        font-weight: var(--fw-400);
        color: var(--clr-primary);
    }

    .container {
        max-width: var(--mw-l);
        margin: 0 auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem;
    }

    h1 {
        font-size: var(--fs-h2);
    }

    .main, .article, .footer__links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem;  
    }

    .logo {
        max-width: 8rem;
        height: auto;
    }

    .btn {
        display: inline-block;
        padding: .8rem 2.5rem;
        transition:.2s;
        border: none;
        font-family: var(--ff-body);
        font-weight: var(--fw-600);
        font-size: var(--fs-s);
        box-shadow: 0 4px 10px rgba(0,0,0,.2);
    }

    .btn__main {
        border-radius: 50px;
        background: var(--clr-accent);
        color: #fff;
    }

    .btn__bottom {
        border-radius: 8px;
        background: var(--clr-accent);
        color: #fff;
    }

    .btn__secondary {
        color: var(--clr-l-pink);
        border: 1px solid var(--clr-l-pink);
        border-radius: 50px;
        padding: .5rem 1.5rem;
       
    }

    .btn:hover {
        opacity: .8;
    }

    .nav__list {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ff-headings);
        color: var(--clr-primary);
    }

    .nav__link {
        margin-left: .7em;
    }

    h1, h2, h3 {
        line-height: 1.3;
        font-family: var(--ff-headings);
    }

    .main__header,
    .article--4 {
        text-align: center;
    }

    .main__content {
        padding: 2rem 15rem;
    }

    .main__header {
        padding-top: 4rem;
    }

    .main__img,
    .article__img {
        width: 90%;
        max-width: var(--w);
        margin: 0 auto;
    } 

    .main__img {
        padding-top: 5em;
    }

    .main__figures {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10rem 0;
    }

    .main__figures h2 {
        font-size: var(--fs-h1) ;
    }

    h5 {
        font-size: var(--fs-lg);
        color: var(--clr-primary);
        opacity: .4;
        font-weight: var(--fw-600);
        font-family: var(--ff-body);
    }

    .article--4 {
        text-align: center;
    }

h3 {
font-size: var(--fs-h3);
    }


    .wrapper {
        background: url(./images/bg-section-top-desktop-1.svg) no-repeat;
        background-size: cover;
        background-position: 50% 100%;
        /* padding: 10rem 0rem 5rem 0rem; */
    }